
<div class="sidebar-wrapper">
  <div class="logo">
    <a  class="simple-text logo-mini">
      <div class="logo-image-small">
        <i class="nc-icon nc-single-02"></i>
        <!-- <img src="assets/img/angular2-logo.png"> -->
      </div>
    </a>

    <a  class="simple-text logo-normal">
      ADMIN E7GEZ
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
