<div class="row">
  <!-- <div class="col-md-4"> -->
    <!-- <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">Chet Faker</h5>
          </a>
          <p class="description">
            @chetfaker
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-md-7 col-7">
                Creative Tim
                <br />
                <span class="text-success">
                  <small>Available</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-md-2 col-2">
                <div class="avatar">
                  <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
              </div>
              <div class="col-ms-7 col-7">
                Flume
                <br />
                <span class="text-danger">
                  <small>Busy</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  <!-- </div> -->
  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control"  placeholder="firs tname" formControlName="firstname">
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label>last name</label>
                <input type="text" class="form-control" placeholder="last name" formControlName="lastname">
              </div>
            </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
              </div>
            </div>
            <div class="col-md-5 pl-1">
              <div class="form-group">
                <label>User Number</label>
                <input type="text" class="form-control" placeholder="User Number" formControlName="userNumber">
              </div>
            </div>
            <!-- <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" placeholder="Password" formControlName="password">
              </div>
            </div> -->
          </div>
           <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" name="food">
                  <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" formControlName="Melbourne">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Country" formControlName="Australia">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Postal Code</label>
                <input type="number" class="form-control" placeholder="ZIP Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="save()" type="submit" class="btn btn-primary btn-round">{{mode==0?'Save':'Update'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
